$mb:0;
@for $i from 1 through 10 {
    .mb-#{$i} {
        margin-bottom: ($mb + $i)*8px;
    }
}

;
$mr:0;
@for $i from 1 through 10 {
    .mr-#{$i} {
        margin-right: ($mr + $i)*8px;
    }
}

;
.mt-auto {
    margin-top: auto;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

// flex
.d-flex {
    display: flex;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

// 格線系統
$gutter-width:24px;
$grid-num:12;
.row {
    margin-right: -$gutter-width/2;
    margin-left: -$gutter-width/2;
}

@for $i from 1 through $grid-num {
    .col-#{$i} {
        width: 100% * ($i/$grid-num);
        padding-right: $gutter-width/2;
        padding-left: $gutter-width/2;
    }
}

$layoutBackground-color:#AA0601;
$index-title-color:#650300;
$index-background-color:#FBF2F2;
.h-100 {
    height: 100%;
}