@import"reset";
@import"variable";
@import "mixin";
@import "base";
@import "layout";
@import "index";
// store開始
.store {
    padding-top: 96px;
    padding-bottom: 80px;
    h2 {
        color: #000;
        text-align-last: left;
        border-left: 8px solid #9F1213;
        padding-left: 16px;
    }
    .store-select {
        label {
            font-size: 24px;
            width: 100%;
        }
        select {
            display: block;
            width: 100%;
            padding: 6px 0 6px 12px;
        }
    }
    .store-card {
        .store-card-title {
            padding: 8px 0 8px 24px;
            border: 1px solid #00000020;
        }
        .store-card-body {
            padding: 16px 0 16px 24px;
            border: 1px solid #00000020;
        }
    }
}